[submodule "src/test/java/org/lightjason/agentspeak/testing"]
	path = src/test/java/org/lightjason/agentspeak/testing
	url = git@github.com:LightJason/AgentSpeak-Java-Testing.git
[submodule "src/codestyle"]
	path = src/codestyle
	url = git@github.com:LightJason/AgentSpeak-Java-CodeStyle.git
